@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&family=Ubuntu&display=swap');

:root {
    --primary_col: #60A5FA;
    --secondary_col: #FCD34D;
    --heading_col: #92400E;
    --custom-gray: #E5E7EB;
    --font_col: #374151;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    background-color: #374151;
    color: white;
}

p,
li {
    font-family: 'Lato', sans-serif;
    font-size: large;
    padding: 1rem 1rem;
}

.h3-padding {
    margin-bottom: 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    padding-bottom: 0rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 15rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Lato', sans-serif;
    color: black;
}

/* links */
.link-primary {
    color:var(--font_col);
    border-radius: 2rem;
    font-weight: bold;
    background-color: var(--secondary_col);
}

.link-secondary {
    color: var(--secondary_col);
    border-radius: 0.5rem;
    border: 1px solid var(--secondary_col);
    /* background-color:var(--primary_col);*/
}

.link-primary-2 {
    color: var(--secondary_col);
    border-radius: 2rem;
    border: 1px solid var(--secondary_col);
}

.link-button-margin {
    padding: 0rem 2rem 0rem 2rem;
    padding-inline-start: 0px;
}

/* Lists */
.list-non-bullet-style {
    list-style: none;
}

.list-inline-style {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */
.navigation {
    background-color: var(--secondary_col);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    border-bottom-left-radius: 1rem;
    margin: 0rem 8rem;
    font-family: 'Ubuntu', sans-serif;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.navigation .link {
    font-size: 20px;
    text-align: center;
}

.navigation .list-non-bullet-style {
    /* color: white; */
    text-align: right;
    padding: 0.5rem;
    /* font-size: 1.3rem; */
}

.navigation .link-active {
    font-weight: bold;
}

/* Hero/Header  */
.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 400px;
    margin: auto;
    display: block;
}

.hero .hero-heading {
    color: var(--custom-gray);
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

/* .hero .hero-heading .heading-section {
    color: var(--secondary_col);
    font-size: 3rem;
} */

.heading-section {
    color: var(--secondary_col);
    font-size: 3rem;
}

/* Section */
.section {
    padding: 2rem 3rem;
    padding-inline-start: 0px;
    text-align: center;
}

.section h1 {
    text-align: center;
    font-weight: bold;
}

.section p {
    text-align: center;
}

.ow {
    background-color: var(--secondary_col);
    color: black;
    /* border-radius: 1rem; */
}

/* Footers */
.footer {
    text-align: center;
    padding-top: 1rem;
    margin: 0rem 8rem;
}

.footer .container {
    font-size: 16px;
    background-color: var(--secondary_col);
    padding: 1.4rem;
    border-radius: 1rem 1rem 0rem 0rem;
    padding-inline-start: 0px;
}

.footer-heading {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.footer .list-non-bullet-style {
    padding-inline-start: 0px;
    color: var(--font_col);
    font-weight: bold;
}

/* Check BEM naming convention method for CSS */